@model DeleteProductViewModel


<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <div class="main-image-wrapper position-relative">
        <img id="mainPhoto" class="main-image" src="@Model.Product.Photos?.FirstOrDefault()?.PhotoUrl" alt="@Model.Product.Photos?.FirstOrDefault()?.Filename">
    </div>
    <div id="otherImages" class="other-imges mb-5">
        @foreach (var photo in Model.Product.Photos.Take(8))
        {
            <a data-other-img-id="@photo.Id"
               href="javascript:"
               onclick="return changeMainPhoto(@photo.Id, '@photo.PhotoUrl')">
                <img src="@photo.PhotoUrl" alt="@photo.Filename">
            </a>
        }
    </div>
    <div>
    <dl class="row">
        <dt class="col-sm-4">
            Title:
        </dt>
        <dd class="col-sm-8">
            @Model.Product.Title
        </dd>
        <dt class="col-sm-4">
            Price:
        </dt>
        <dd class="col-sm-8">
            @Model.Product.Price
        </dd>
        <dt class="col-sm-4">
            Count:
        </dt>
        <dd class="col-sm-8">
            @Model.Product.Count
        </dd>
        <dt class="col-sm-4">
            Category:
        </dt>
        <dd class="col-sm-8">
            @Model.Product.Category?.Title
        </dd>
    </dl>

</div>
<form asp-action="DeleteProduct">
    <input type="hidden" asp-for="Product.Id" />
    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-danger" />
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>
</div>

